    /*------------------------------------------------------------------------------
   *******************************************************************************
   * COPYRIGHT Ericsson 2013
   *
   * The copyright to the computer program(s) herein is the property of
   * Ericsson Inc. The programs may be used and/or copied only with written
   * permission from Ericsson Inc. or in accordance with the terms and
   * conditions stipulated in the agreement/contract under which the
   * program(s) have been supplied.
   ******************************************************************************* */

    .optionsMenu {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        text-decoration-style: solid;
        text-align: center;
        font-size: smaller;
        margin: 2px 2px 2px 2px;
        padding: 2px 2px 2px 2px;
        width: 200%;
    }

    .optionsMenu.open, .optionsMenu:hover {
        background-color: transparent;
        position: relative;
    }

    .optionsMenu.open {
        border-bottom: 0;
    }
